* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #f4f4f4;
}
td {
  height: 100px;
  border: 1px solid black;
  width: 100px;
  text-align: center;
  font-size: 50px;
  cursor: pointer;
}
td:hover {
  background-color: #e6e6e6;
}
td:active {
  transform: translateY(2px);
}
button {
  height: 50px;
  width: 150px;
  cursor: pointer;
}
#display {
  text-align: end;
  cursor: default;
  font-size: 30px;
  overflow-x: auto;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  gap: 1rem;
  flex-direction: column;
}
#links {
  display: flex;
  gap: 1rem;
}
